<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <style>
        body {
            background-color: #00000000 !important;
        }
        .nav-button .nav-link {
            background-color: white;
            color: black;
        }
    </style>
</head>
<body>
<header th:layout:header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        <div class="container">
            <a class="navbar-brand" th:href="@{/th-homepage/goHome}">
                <img style="height: 40px; padding-left: 17px; padding-bottom: 5px" th:src="@{/images/buglelogo.png}" alt="Daily Bugle Icon" class="logo-icon">
                <br>
                <span style="color: #660708; font-size: 15px">Daily Bugle</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a style="color: white" class="nav-link" th:href="@{/th-homepage/goHome}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: white" class="nav-link" th:href="@{/th-blogs/getAll}">Blogs</a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a style="color: white" class="nav-link" href="/th-homepage/goHome#contactsec">Contact</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a style="color: green" class="nav-link" th:href="@{/th-blogs/user-blogs}">Your Blogs</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a style="color: green" class="nav-link" th:href="@{/th-blogs/create}">Add Blog</a>
                    </li>
                    <li class="nav-button" sec:authorize="isAuthenticated()">
                        <a style="color: green" class="nav-link" th:href="@{/user/list}">Profile</a>
                    </li>
                    <li class="nav-button" sec:authorize="isAuthenticated()">
                        <button id="logout-button" style="color: white;padding: 5px 10px;text-align: center;margin: 4px 10px;background-color: #660708; border-radius: 10px">
                           <a th:href="@{/logout}">Logout</a>
                        </button>
                    </li>
                    <li class="nav-button" sec:authorize="!isAuthenticated()">
                        <button id="login-button" style="color: black;padding: 5px 10px;text-align: center;margin: 4px 10px;background-color: white; border-radius: 10px">
                            <a th:href="@{/login}">Login</a>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<script>
    document.getElementById("login-button").addEventListener("click", function() {
        window.location.href = "/login";
    });
    document.getElementById("logout-button").addEventListener("click", function() {
        window.location.href = "/logout";
    });
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
