<a th:href="@{/user/register}">create new user</a>
<table>
    <thead>
    <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Mobile Number</th>
        <th>image</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <p th:if="${successMsg}" th:text="${successMsg}"></p>
    <p th:if="${deleteMsg}" th:text="${deleteMsg}"></p>
    <tr th:each="user:${userList}">
        <td th:text="${user.fullName}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.mobileNo}"></td>
        <td>
            <img th:src="'data:image/png;base64,'+${user.imageBase64}" width="100" height="100"/>
<!--            <img th:src="@{/resources/static/images/20220911_194737.jpg}" />-->
        </td>
        <td>
            <a class="edit" th:href="@{~/user/edit/}+${user.id}">Edit</a> |
<!--            <a class="delete" th:href="@{~/user/}+${user.id}">Delete</a>-->

        </td>
    </tr>
    </tbody>
</table>
