<!DOCTYPE html>
<html lang="en">
<head>
    <title>Department</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Department form</h2>
    <form th:method="@{post}" th:action="@{/th-department/save}" th:object="${departmentDto}">
        <div class="form-group">
            <input type="hidden" th:value="${departmentDto.id}" th:field="*{id}"/>
            <label for="departmentName">Department Name:</label>
            <input type="text" class="form-control" th:field="*{departmentName}"
                   th:value="${departmentDto.departmentName}"
                   id="departmentName" placeholder="Enter Department Name" name="departmentName">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

</body>
</html>
